.algolia-autocomplete {
  width: 100%;
}
.search-result-dropdown-menu {
  width: 100%;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  padding: .5em;
  box-shadow: 1px 1px 32px -10px rgba(0,0,0,0.62);
}
.search-result-dropdown-menu .search-result-suggestion small {
  font-size: .8em;
  color: #bbb;
}
.search-result-dropdown-menu .search-result-suggestion.search-result-cursor {
  background-color: #B2D7FF;
}
.search-result-dropdown-menu .search-result-suggestion em {
  font-weight: bold;
  font-style: normal;
}
.search-result-header {
  font-weight: bold;
  padding: .5em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}